header {
  display: flex;
  height: 127px;
  box-shadow: 0 2px 9px 0 rgba(0, 78, 194, 0.3);
  @include desktop {
    height: 77px;
  }
  @include tablet {
    height: auto;
  }
  .back-button {
    display: flex;
    width: 63px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $purple-three;
    box-shadow: 0 4px 11px 0 rgba(19, 79, 215, 0.15);
    border: 1px solid $pale-grey-two;
    font-size: 16px;
    cursor: pointer;
    @include desktop {
      width: 33px;
    }
  }
  .content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 60px;
    justify-content: space-between;
    @include desktop {
      padding: 0 30px;
    }
    @include tablet {
      flex-direction: column-reverse;
      padding: 15px 10px;
    }
    .actions {
      display: flex;
      align-items: center;
      color: $deep-lilac;
      button {
        width: 180px;
        height: 60px;
        background: $warm-pink;
        color: $pale-grey;
        border: 1px solid $lipstick;
        box-shadow: 0 12px 9px 0 rgba(0, 78, 194, 0.15);
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 13px;
        margin-right: 60px;
        cursor: pointer;
        @include desktop {
          width: 90px;
          height: 30px;
          margin-right: 20px;
        }
        @include mobile {
          width: 60px;
          margin-right: 10px;
        }
      }
      div {
        margin-right: 40px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        i {
          margin-right: 15px;
          font-size: 16px;
          @include desktop {
            margin-right: 5px;
            font-size: 12px;
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
        @include desktop {
          margin-right: 20px;
        }
        @include tablet {
          margin-right: 10px;
        }
      }
      @include tablet{
        width: 100%;
        justify-content: space-evenly;
      }
      @include mobile {
        width: 100%;
        justify-content: space-around;
      }
    }
    .user {
      display: flex;
      align-items: center;
      .fa-search {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $warm-pink;
        color: $white;
        border-radius: 50%;
        margin-right: 18px;
        font-size: 14px;
        cursor: pointer;
        @include desktop {
          width: 30px;
          height: 30px;
          font-size: 12px;
        }
      }
      .image {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        img {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          border: 5px solid #e1edff;
          box-shadow: 0 3px 9px 0 rgba(78, 0, 197, 0.18);
          @include desktop {
            height: 22px;
            width: 22px;
          }
        }
        &:after {
          font-family: "Font Awesome 5 Free";
          content: '\f107';
          display: inline-block;
          font-weight: 600;
          color: $purple-two;
          font-size: 12px;
          height: auto;
          width: auto;
          position: absolute;
          right: -15px;
        }
      }
      @include tablet {
        margin-bottom: 15px;
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60px;
    align-items: center;
    background: $indigo-blue;
    color: $white;
    box-shadow: 0 12px 9px 0 rgba(0, 78, 194, 0.15);
    border: 1px solid $indigo;
    @include desktop {
      width: 33px;
    }
    i {
      &.fa-bell {
        font-size: 18px;
        @include desktop {
          font-size: 12px;
        }
      }
      &.fa-th {
        @include desktop {
          font-size: 12px;
        }
      }
      cursor: pointer;
    }

  }
}
