#meetup-form {
  display: flex;
  padding: 0 60px;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 0 auto;
  .input-container {
    display: flex;
    width: 100%;
    height: 64px;
    padding: 0 6px 0 0;
    align-items: center;
    background: $white;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 9px 33px 0 rgba(17, 1, 41, 0.31);
    border: 1px solid $indigo-blue-two;
    input {
      width: 79%;
      height: 100%;
      border: none;
      padding: 0 0 0 30px;
      font-family: RobotoLight, sans-serif;
      color: $indigo-blue;
      font-size: 20px;
      letter-spacing: 0.0015em;
      @include desktop{
        padding-left: 15px;
      }
      @include mobile{
        width: 100%!important;
        height: 30px;
        font-size: 16px;
        margin-bottom: 5px;
        box-shadow: 0 9px 33px 0 rgba(17, 1, 41, 0.31);
        border: 1px solid $indigo-blue-two;
        border-radius: 2px;
        padding: 0 0 0 5px;
        box-sizing: border-box;
      }
    }
    button {
      width: 21%;
      height: 100%;
      border: 1px solid $pale-grey-two;
      background: $white;
      font-family: RobotoMedium, sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      color: $warm-pink;
      box-shadow: 0 4px 11px 0 rgba(19, 79, 215, 0.15);
      border-radius: 4px;
      cursor: pointer;
      min-width: 105px;
      max-height: 52px;
      @include desktop{
        max-height: 40px;
      }
      @include mobile{
        height: 35px;
      }
    }
    @include desktop {
      height: 50px;
    }
    @include mobile{
      height: auto!important;
      flex-direction: column;
      background: transparent;
      box-shadow: none!important;
      border: none!important;
      align-items: flex-start;
    }
    @include mobile{
      padding-right: 0!important;
    }
  }
  .checkbox-container {
    display: flex;
    height: 25px;
    color: $deep-lilac;
    font-size: 12px;
    flex-wrap: wrap;
    .container {
      display: flex;
      cursor: pointer;
      align-items: center;
      margin-right: 30px;
      &:hover input ~ .checkmark {
        opacity: 0.5;
      }
      .checkmark {
        height: 13px;
        width: 13px;
        display: inline-block;
        background-color: $white;
        margin-right: 10px;
        border: 1px solid $indigo-blue-two;
        box-shadow: 0 3px 9px 0 rgba(11, 40, 64, 0.15);
        transition: all .2s ease-out;
        opacity: 0.2;
        border-radius: 0.7px;
      }
      input {
        display: none;
        &:checked ~ .checkmark {
          opacity: 1;
        }
      }
      @include desktop {
        margin-right: 15px;
      }
    }
    @include tablet{
      padding-top: 8px;
    }
  }
  .dropdowns {
    display: flex;
    width: 100%;
    box-shadow: 0 4px 11px 0 rgba(19, 79, 215, 0.15);
    margin-bottom: 36px;
    flex-wrap: wrap;
  }
  .select-wrapper {
    position: relative;
    width: 50%;
    height: 38px;
    @include desktop {
      width: 100%;
    }
    &:after {
      font-family: "Font Awesome 5 Free";
      content: '\f107';
      display: inline-block;
      font-weight: 600;
      color: $indigo-blue;
      font-size: 12px;
      height: auto;
      width: auto;
      position: absolute;
      z-index: 1;
      right: 20px;
      top: 12px;
      pointer-events: none;
    }
    select {
      width: 100%;
      height: 100%;
      appearance: none;
      font-family: RobotoMedium, sans-serif;
      border: solid 1px $pale-grey-two;
      border-radius: 2px;
      font-size: 13px;
      line-height: 1.46;
      letter-spacing: -0.1px;
      color: $indigo-blue;
      padding: 0 30px 0 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      &:nth-of-type(odd) {
        border-left: none;
      }
    }
  }
  .general-info {
    width: 100%;
    height: 200px;
    background: $purple;
    display: flex;
    padding: 0 60px;
    box-sizing: border-box;
    box-shadow: 0 14px 10px 3px rgba(0, 78, 194, 0.15);
    border: 1px solid $indigo;
    .event-name {
      width: 78%;
      border-right: 1px solid $blurple;
      padding: 60px 80px 11px 0;
      display: flex;
      flex-wrap: wrap;
      @include desktop {
        padding: 30px 20px 5px 0;
      }
      @include tablet{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $blurple;
        padding: 15px 0;
      }
    }
    .event-time {
      width: 22%;
      padding: 55px 0 5px 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 195px;
      .starting-time, .ending-time {
        width: calc(50% - 12.5px);
        display: flex;
        flex-direction: column;
      }
      .starting-time {
        margin-right: 25px;
      }
      .date {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 100%;
        background: #774eb5;
        font-size: 13px;
        color: $pale-purple;
        border-radius: 2px;
        box-shadow: 0 3px 9px 0 rgba(11, 40, 64, 0.15);
        @include desktop {
          font-size: 11px;
        }
      }
      .time {
        display: flex;
        box-sizing: border-box;
        font-family: RobotoMedium, sans-serif;
        justify-content: center;
        align-items: center;
        background: $white;
        height: 45px;
        width: 100%;
        color: $dark-indigo;
        border: 1px solid $indigo-blue-two;
        border-radius: 2px;
        box-shadow: 0 3px 9px 0 rgba(11, 40, 64, 0.15);
        z-index: 1;
        font-size: 15px;
        @include desktop {
          font-size: 12px;
        }
      }
      a {
        font-size: 12px;
        color: $deep-lilac;
        @include tablet{
          padding-top: 10px;
        }
      }
      @include desktop {
        padding: 30px 0 5px 20px;
      }
      @include tablet{
        width: 100%;
        padding: 15px 0;
      }
    }
    @include desktop {
      padding: 0 30px;
      height: 150px;
    }
    @include tablet{
      flex-wrap: wrap;
      height: auto;
      padding: 0 15px;
    }
  }
  .guests {
    width: 41%;
    box-sizing: border-box;
    padding: 60px 80px 40px 60px;
    box-shadow: 0 2px 6.8px 0.2px rgba(80, 103, 218, 0.15);
    height: 100%;
    z-index: 1;
    .add-guests {
      border-bottom: 1px solid $light-blue-grey-two;
      padding-bottom: 100px;
      h4 {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: -0.3px;
        margin: 0 0 20px;
        color: $indigo-blue;
      }
      .input-container {
        height: 45px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 43, 165, 0.15);
        border: solid 1px $light-blue-grey;
        margin-bottom: 20px;
        padding: 1px 6px 0 0;
        input {
          width: 80%;
          @include mobile{
            border: solid 1px $light-blue-grey;
            box-shadow: inset 0 1px 2px 0 rgba(0, 43, 165, 0.15);
          }
        }
        button {
          width: 23%;
          color: $pale-grey;
          background: $warm-pink;
          box-shadow: 0 12px 9px 0 rgba(0, 78, 194, 0.15);
          max-height: 40px;
          min-width: 60px;
          border: 1px solid $lipstick;
        }
      }
      .checkbox-container {
        height: auto;
        .container {
          font-size: 12px;
          line-height: 1.58;
          letter-spacing: -0.1px;
          color: $blue-grey;
          margin-right: 20px;
          margin-bottom: 10px;
          &:hover input ~ .checkmark {
            background-color: #e6e6e6;;
          }
          .checkmark {
            width: 15px;
            height: 15px;
            object-fit: contain;
            border-radius: 1px;
            box-shadow: inset 0 1px 2px 0 rgba(0, 43, 165, 0.15);
            border: solid 1px $light-blue-grey;
            background-color: $white;
            opacity: 1;
          }
          input {
            &:checked ~ .checkmark {
              background-color: $purple-two;
            }
          }
        }
      }
      @include desktop{
        padding-bottom: 40px;
      }
    }
    .event-publish {
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;
      button {
        width: 147px;
        height: 48px;
        opacity: 0.93;
        border-radius: 3.3px;
        box-shadow: 0 12px 9px 0 rgba(0, 78, 194, 0.15);
        border: solid 1px $indigo;
        background-color: $indigo-blue;
        font-size: 13px;
        line-height: 1.46;
        letter-spacing: -0.1px;
        color: $pale-grey;
      }
      .additional-info {
        opacity: 0.7;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: -0.1px;
        color: $dusk;
        margin-bottom: 29px;
        margin-top: 0;
        a {
          font-size: 11px;
          color: $warm-pink;
          text-decoration: none;
          margin-left: 5px;
        }
      }
    }
    @include desktop {
      padding: 30px 20px 20px 30px;
    }
    @include tablet {
      width: 100%;
      padding: 20px 15px;
    }
  }
  .event-details {
    display: flex;
    flex-wrap: wrap;
    width: 59%;
    border-bottom: 1px solid $light-blue-grey-two;
    overflow: hidden;
    .tabs {
      width: 100%;
      display: flex;
      padding: 0 60px;
      height: 85px;
      border-bottom: 1px solid $light-blue-grey-two;
      span {
        font-family: RobotoMedium, sans-serif;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
        font-size: 12px;
        line-height: 1.58;
        letter-spacing: -0.1px;
        color: $deep-lilac;
        text-transform: uppercase;
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
        cursor: pointer;
        &.active {
          border-bottom: 4px solid $amethyst;
          color: $purple-two;
        }
        &:last-of-type {
          margin-right: 0;
        }
        @include mobile{
          padding: 20px 10px 0 10px;
        }
      }
      @include desktop {
        padding: 0 30px;
        height: 55px;
      }
      @include tablet {
        padding: 0 15px;
      }
    }
    .select-wrapper {
      height: 28px;
      select {
        padding: 0 17px 0 5px;
      }
      &:after {
        right: 8px;
        top: 7px;
      }
    }
    .location {
      display: flex;
      flex-direction: column;
      width: 58%;
      padding: 70px 25px 0 60px;
      box-sizing: border-box;
      height: 100%;
      background: $very-light-blue;
      border-right: 1px solid $light-blue-grey-two;
      label {
        font-size: 13px;
        line-height: 1.46;
        letter-spacing: -0.1px;
        color: $deep-lilac;
        margin-bottom: 5px;
      }
      input {
        height: 43px;
        margin-bottom: 35px;
      }
      textarea {
        resize: none;
        height: 88px;
        padding-top: 10px;
      }
      input, textarea {
        border-radius: 2px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 43, 165, 0.15);
        border: solid 1px $light-blue-grey;
        background-color: #f6faff;
        font-size: 13px;
        line-height: 1.46;
        letter-spacing: -0.3px;
        color: $deep-lilac;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        &::placeholder {
          opacity: 0.6;
        }
        @include desktop{
          padding-left: 15px;
        }
        @include mobile{
          padding-left: 5px;
        }
      }
      @include desktop {
        padding: 30px 20px 0 30px;
      }
      @include tablet{
        padding: 20px 10px 0 15px;
      }
      @include mobile{
        width: 100%;
        height: auto;
        border-bottom: 1px solid $light-blue-grey-two;
        border-right: none;
        padding: 20px 15px;
      }
    }
    .additional-info {
      width: 42%;
      height: 100%;
      background: $very-light-blue;
      padding: 70px 80px 0 30px;
      box-sizing: border-box;
      .notifications {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        label {
          width: 100%;
          font-size: 13px;
          line-height: 1.46;
          letter-spacing: -0.1px;
          color: $deep-lilac;
          margin-bottom: 5px;
        }
        .notification-dropdowns {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          position: relative;
          .select-wrapper {
            width: 40%;
            border-radius: 2px;
            box-shadow: 0 2px 6px 0 rgba(19, 79, 215, 0.1);
            border: solid 1px $pale-grey-two;
            box-sizing: border-box;
            min-width: 80px;
            &:nth-of-type(1) {
              margin-right: 3px;
            }
            @include desktop {
              width: 100%;
              margin-right: 0 !important;
            }
          }
          input {
            width: calc(20% - 12px);
            box-shadow: inset 0 1px 2px 0 rgba(0, 43, 165, 0.1);
            font-family: RobotoMedium, sans-serif;
            border: solid 1px $light-blue-grey;
            background-color: #f6faff;
            font-size: 14px;
            line-height: 1.36;
            letter-spacing: -0.1px;
            color: $dark-indigo;
            text-align: center;
            min-width: 25px;
            margin-right: 3px;
            border-radius: 3px;
            @include desktop {
              width: 100%;
              margin-right: 0;
              text-align: left;
            }
          }
          .fa-times {
            position: absolute;
            right: -18px;
            top: 50%;
            font-size: 9px;
            color: $warm-pink;
            margin-top: -3px;
            @include desktop {
              right: -12px;
            }
            @include tablet{
              top: -17px;
              right: 8px;
            }
          }
        }
        .add-notification {
          width: 100%;
          font-size: 12px;
          line-height: 1.58;
          letter-spacing: -0.1px;
          color: $deep-lilac;
          margin-top: 10px;
          margin-bottom: 30px;
          .fa-plus {
            opacity: 0.4;
          }
        }
      }
      .calendar {
        display: flex;
        flex-wrap: wrap;
        label {
          width: 100%;
          font-size: 13px;
          line-height: 1.46;
          letter-spacing: -0.1px;
          color: $deep-lilac;
          margin-bottom: 5px;
        }
        .dropdowns {
          margin-bottom: 26px;
        }
      }
      .event-colors {
        display: flex;
        flex-wrap: wrap;
        & > label {
          width: 100%;
          font-size: 13px;
          line-height: 1.46;
          letter-spacing: -0.1px;
          color: $deep-lilac;
          margin-bottom: 10px;
        }
        .checkbox-container {
          height: auto;
          margin-left: -7px;
          .container {
            justify-content: center;
            margin-right: 0;
            width: 28px;
            height: 28px;
            .checkmark {
              height: 15px;
              width: 15px;
              margin-right: 0;
              border-radius: 50%;
              border: none;
              opacity: 1;
            }
            input {
              display: none;
              &:checked ~ .checkmark {
                box-shadow: 0 4px 11px 0 rgba(19, 79, 215, 0.15);
                border: solid 6px #f6faff;
              }
            }
            &:nth-of-type(1) {
              .checkmark {
                background: $soft-blue;
              }
            }
            &:nth-of-type(2) {
              .checkmark {
                background: $pastel-blue;
              }
            }
            &:nth-of-type(3) {
              .checkmark {
                background: $amethyst;
              }
            }
            &:nth-of-type(4) {
              .checkmark {
                background: $aqua-marine;
              }
            }
            &:nth-of-type(5) {
              .checkmark {
                background: $light-gold;
              }
            }
            &:nth-of-type(6) {
              .checkmark {
                background: $salmon;
              }
            }
          }
          .fa-ellipsis-h{
            width: 15px;
            height: 15px;
            background: $white;
            display: flex;
            align-items: center;
            border-radius: 50%;
            font-size: 8px;
            justify-content: center;
            box-shadow: 0 2px 6px 0 rgba(19, 79, 215, 0.1);
          }
          @include tablet{
            padding-top: 0;
          }
        }
      }
      @include desktop {
        padding: 30px 30px 0 20px;
      }
      @include tablet{
        padding: 20px 15px 15px 10px;
      }
      @include mobile{
        width: 100%;
        height: auto;
        padding: 20px 15px;
      }
    }
    @include tablet {
      width: 100%;
      border-bottom: none;
    }
  }
  @include desktop {
    padding: 0 30px;
  }
}
